name: Release

on:
  push:
    branches:
      - master

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v2.5.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
          package-name: ml-spectra-processing
          bump-minor-pre-major: Yes
      - uses: actions/checkout@v2
        # These if statements ensure that a publication only occurs when a new release is created
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v1
        with:
          node-version: 14
        if: ${{ steps.release.outputs.release_created }}
      - run: npm install
        if: ${{ steps.release.outputs.release_created }}
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_BOT_TOKEN}}
        if: ${{ steps.release.outputs.release_created }}
